{% extends "base.html" %}

{% block title %}პროექტის შესახებ{% endblock %}

{% block content_title %}
    პროექტის შესახებ
{% endblock %}

{% block content %}
    <div class="about_info">
        <p>
            პროექტი "საწვავის ფასები" შეიქმნა 2022 წლის აგვისტოში და ემსახურება ერთადერთ მიზანს - გაუმარტივოს ხალხს
            საწვავის
            ფასების მონიტორინგი და დაეხმაროს მათ საწვავის მომწოდებელი კომპანიის არჩევაში. ეს პროექტი არის "Open Source"
            და
            მისი კოდის ნახვა შესაძლებელია ამ ლინკზე - <a href="https://github.com/NickNaskida/FuelPrices">Fuel Prices
            (GitHub)</a>
        </p>
        <p>
            შენიშვნა: ეს პროექტი ჯერ კიდევ განვითარების პროცესშია და ნებისმიერ ადამიანს შეუძლია დახმარება. როგორ? -
            იხილეთ
            ქვემოთ სექცია "როგორ დავეხმარო ამ პროექტს განვითარებაში?"
        </p>
    </div>

    <center>
        <h3>ხშირად დასმული კითხვები</h3>
    </center>
    <br>
    <div class="accordion" id="FAQ_accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    როგორ შევადარო გარკვეული საწვავის ტიპი?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#FAQ_accordion">
                <div class="accordion-body">
                    გარკვეული საწვავის ტიპის შედარება შესაძლებელია მთავარ გვერდზე შედარების სექციაში. საწვავის არჩევის
                    შემდგომ შედარების ღილაკზე დაჭერისას აპლიკაცია ააგებს დიაგრამას, სადაც ფასები კლებადობის მიხედვით
                    იქნება დალაგებული. (შესაძლოა გარკვეული საწვავის ტიპი არ ჰქონდეს ყველა საწვავის მომწოდებელს)
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    როგორ გამოვიყენო საწვავის ფასების API?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#FAQ_accordion">
                <div class="accordion-body">
                    საწვავის ფასების API დოკუმენტაცია ხელმისაწვდომი არის შემდეგ ლინკზე: <a href="/api/">API
                    დოკუმენტაცია</a>. ამ
                    ლინკზე ასევე შესაძლებელია API გატესტვა და მის მუშაობაში გარკვევა.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    როგორ დავეხმარო ამ პროექტს განვითარებაში?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#FAQ_accordion">
                <div class="accordion-body">
                    <p>
                        მოგეხსენებათ, რომ ეს პროექტი არის Open Source, რაც ნიშნავს იმას რომ მისი კოდი არის ხალხისთვის
                        ხესმისაწვდომი. ამ პროექტის <a href="https://github.com/NickNaskida/FuelPrices">GitHub Repository
                        ლინკზე</a> შეგიძლიათ იხილოთ source code,
                        დაფორკოთ ეს
                        რეპოზიტორია და დაამაატოთ თქვენი "feature", ან გააუმჯობესოთ ნებისმიერი რამ და გააკეთოთ pull
                        request.
                        კოტრიბუციასთან დაკავშირებული
                        ინსტრუქციები შეგიძლიათ იხილოთ GitHub რეპოზიტორის README.md ფაილში. წარმატებები! 🚀🔥
                    </p>
                    <br>
                    <p>
                        ამის გარდა თუ გაქვთ რაიმე იდეა ამ პროექტთან დაკავშირებით შეგიძლიათ ეს იდეა დაწეროთ აქ - <a
                            href="https://github.com/NickNaskida/FuelPrices/discussions/1">Future Ideas (Github
                        Discussions)</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    როგორ დავუკავშირდე ამ პროექტის შემქმნელს?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#FAQ_accordion">
                <div class="accordion-body">
                    ამ პროექტის შემქმნელთან დაკავშირება შეგიძლიათ შემდეგი ლინკების საშუალებით -️
                    <a href="https://github.com/NickNaskida">GitHub</a>,
                    <a href="https://www.linkedin.com/in/nikoloz-naskidashvili/">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}