{% extends "base.html" %}
{% from "index_macros.html" import change_rate_badge %}

{% block title %}მთავარი{% endblock %}

{% block content_title %}
    მთავარი
{% endblock %}

{% block content %}
    <div class="main_info">
        <div class="best_prices_wrapper">
            <h3>საუკეთესო ფასები</h3>
            <br>
            <small>*-იანი პრემიუმ ხარისხის მაჩვენებელია</small>
            <div class="best_prices">
                {% for name, price_obj in lowest_current_prices %}
                    <div class="best_price_card">
                        <h5>
                            <b style="color: #1075ef">{{ '%0.2f'|format(price_obj[1]) }} &#8382;</b> {{ name }} -
                            {% for provider in price_obj[0] %}
                                {{ card_logo_img(provider) }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </h5>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="compare">
            <center><h3>შედარება</h3></center>
            <br>
            <div class="compare_header">
                <form method="POST">
                    {{ compare_form.hidden_tag() }}
                    <label for="CompareFormSelect">{{ compare_form.type_alt.label }}</label>
                    {{ compare_form.type_alt(class_="form-control", id="CompareFormSelect") }}
                    <button class="" type="submit">შედარება</button>
                </form>
                <small>*-იანი პრემიუმ ხარისხის მაჩვენებელია</small>
            </div>

            <div class="compare_body">
                {% if compare_data %}
                    <div class="chart" id="compare-chart"></div>
                    {% include 'horizontal_chart_js.html' %}
                {% else %}
                    <img src="{{ static_url_for('static', filename='img/gauge.png') }}" alt="Fuel provider logo">
                    <h6>აირჩიეთ საწვავის ტიპი</h6>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="analytics">
        <center><h3>ანალიტიკა</h3></center>
        <br>
        <nav class="provider_nav">
            <button class="provider_menu_butt provider_menu_butt_active" data-tab="0">
                <img src="{{ static_url_for('static', filename='img/gulf_logo.png') }}" alt="Gulf logo"> Gulf
            </button>
            <button class="provider_menu_butt" data-tab="1">
                <img src="{{ static_url_for('static', filename='img/wissol_logo.png') }}" alt="Wissol logo"> Wissol
            </button>
            <button class="provider_menu_butt" data-tab="2">
                <img src="{{ static_url_for('static', filename='img/rompetrol_logo.png') }}" alt="Rompetrol logo">
                Rompetrol
            </button>
            <button class="provider_menu_butt" data-tab="3">
                <img src="{{ static_url_for('static', filename='img/socar_logo.png') }}" alt="Socar logo"> Socar
            </button>
            <button class="provider_menu_butt" data-tab="4">
                <img src="{{ static_url_for('static', filename='img/lukoil_logo.png') }}" alt="Lukoil logo"> Lukoil
            </button>
            <button class="provider_menu_butt" data-tab="5">
                <img src="{{ static_url_for('static', filename='img/portal_logo.png') }}" alt="Portal logo"> Portal
            </button>
        </nav>

        <div class="provider_tab provider_tab_active">
            <div class="provider_prices">
                <div class="provider_prices_header">
                    <div>
                        {{ card_logo_img("Gulf") }}
                    </div>
                    <div class="provider_prices_info">
                        <h4>Gulf</h4>
                        <hr>
                        {{ gulf_prices[0].last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
                {% for price_obj in gulf_prices %}
                    <div class="price_obj">
                        <div><span>{{ '%0.2f'|format(price_obj.price) }} &#8382;</span> {{ price_obj.name }}</div>
                        <div>{{ change_rate_badge(price_obj.change_rate) }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="provider_stats">
                <div class="chart" id="gulf-chart"></div>
            </div>
        </div>
        <div class="provider_tab">
            <div class="provider_prices">
                <div class="provider_prices_header">
                    <div>
                        {{ card_logo_img("Wissol") }}
                    </div>
                    <div class="provider_prices_info">
                        <h4>Wissol</h4>
                        <hr>
                        {{ wissol_prices[0].last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
                {% for price_obj in wissol_prices %}
                    <div class="price_obj">
                        <div> <span>{{ '%0.2f'|format(price_obj.price) }} &#8382;</span> {{ price_obj.name }}</div>
                        <div>{{ change_rate_badge(price_obj.change_rate) }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="provider_stats">
                <div class="chart" id="rompetrol-chart"></div>
            </div>
        </div>
        <div class="provider_tab">
            <div class="provider_prices">
                <div class="provider_prices_header">
                    <div>
                        {{ card_logo_img("Rompetrol") }}
                    </div>
                    <div class="provider_prices_info">
                        <h4>Rompetrol</h4>
                        <hr>
                        {{ rompetrol_prices[0].last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
                {% for price_obj in rompetrol_prices %}
                    <div class="price_obj">
                        <div><span>{{ '%0.2f'|format(price_obj.price) }} &#8382;</span> {{ price_obj.name }}</div>
                        <div>{{ change_rate_badge(price_obj.change_rate) }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="provider_stats">
                <div class="chart" id="wissol-chart"></div>
            </div>
        </div>
        <div class="provider_tab">
            <div class="provider_prices">
                <div class="provider_prices_header">
                    <div>
                        {{ card_logo_img("Socar") }}
                    </div>
                    <div class="provider_prices_info">
                        <h4>Socar</h4>
                        <hr>
                        {{ socar_prices[0].last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
                {% for price_obj in socar_prices %}
                    <div class="price_obj">
                        <div><span>{{ '%0.2f'|format(price_obj.price) }} &#8382;</span> {{ price_obj.name }}</div>
                        <div>{{ change_rate_badge(price_obj.change_rate) }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="provider_stats">
                <div class="chart" id="socar-chart"></div>
            </div>
        </div>
        <div class="provider_tab">
            <div class="provider_prices">
                <div class="provider_prices_header">
                    <div>
                        {{ card_logo_img("Lukoil") }}
                    </div>
                    <div class="provider_prices_info">
                        <h4>Lukoil</h4>
                        <hr>
                        {{ lukoil_prices[0].last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
                {% for price_obj in lukoil_prices %}
                    <div class="price_obj">
                        <div><span>{{ '%0.2f'|format(price_obj.price) }} &#8382;</span> {{ price_obj.name }}</div>
                        <div>{{ change_rate_badge(price_obj.change_rate) }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="provider_stats">
                <div class="chart" id="lukoil-chart"></div>
            </div>
        </div>
        <div class="provider_tab">
            <div class="provider_prices">
                <div class="provider_prices_header">
                    <div>
                        {{ card_logo_img("Portal") }}
                    </div>
                    <div class="provider_prices_info">
                        <h4>Portal</h4>
                        <hr>
                        {{ portal_prices[0].last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
                {% for price_obj in portal_prices %}
                    <div class="price_obj">
                        <div><span>{{ '%0.2f'|format(price_obj.price) }} &#8382;</span> {{ price_obj.name }}</div>
                        <div>{{ change_rate_badge(price_obj.change_rate) }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="provider_stats">
                <div class="chart" id="portal-chart"></div>
            </div>
        </div>
    </div>

    <div class="accordion" id="type_table_accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    საწვავის ტიპების ცხრილი
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#type_table_accordion">
                <div class="accordion-body table-responsive">
                    <table class="table">
                        <tr>
                            <th><b>დასახელება ვებსაიტზე</b></th>
                            <th><b>Gulf</b></th>
                            <th><b>Rompetrol</b></th>
                            <th><b>Wissol</b></th>
                            <th><b>Lukoil</b></th>
                            <th><b>Socar</b></th>
                            <th><b>Portal</b></th>
                        </tr>
                        <tr>
                            <td>ევრო დიზელი*</td>
                            <td>G-Force ევრო დიზელი</td>
                            <td>Efix ევრო დიზელი</td>
                            <td>ეკო დიზელი</td>
                            <td>ევრო დიზელი</td>
                            <td>ნანო ევრო დიზელი</td>
                            <td>ევრო დიზელი</td>
                        </tr>
                        <tr>
                            <td>ევრო რეგულარი*</td>
                            <td>G-Force ევრო რეგულარი</td>
                            <td>ევრო რეგულარი</td>
                            <td>ევრო რეგულარი</td>
                            <td>ევრო რეგულარი</td>
                            <td>ნანო ევრო რეგულარი</td>
                            <td>ევრო რეგულარი</td>
                        </tr>
                        <tr>
                            <td>პრემიუმი*</td>
                            <td>G-Force პრემიუმი</td>
                            <td>Efix ევრო პრემიუმი</td>
                            <td>ეკო პრემიუმი</td>
                            <td>პრემიუმ ავანგარდი</td>
                            <td>ნანო პრემიუმი</td>
                            <td>პრემიუმი</td>
                        </tr>
                        <tr>
                            <td>სუპერი*</td>
                            <td>G-Force სუპერი</td>
                            <td>Efix სუპერი</td>
                            <td>ეკო სუპერი</td>
                            <td>სუპერ ეკტო</td>
                            <td>ნანო სუპერი</td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td>დიზელი</td>
                            <td>ევრო დიზელი</td>
                            <td>ევრო დიზელი</td>
                            <td>ევრო დიზელი</td>
                            <td>—</td>
                            <td>ნანო დიზელი</td>
                            <td>ეფექტური დიზელი</td>
                        </tr>
                        <tr>
                            <td>—</td>
                            <td>—</td>
                            <td>—</td>
                            <td>დიზელ ენერჯი</td>
                            <td>—</td>
                            <td>—</td>
                            <td>დიზელი</td>
                        </tr>
                        <tr>
                            <td>რეგულარი</td>
                            <td>ევრო რეგულარი</td>
                            <td>—</td>
                            <td>—</td>
                            <td>—</td>
                            <td>—</td>
                            <td>—</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'charts_js.html' %}
{% endblock %}