{% from "base_macros.html" import card_logo_img %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}"/>

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/Glaho-Arial/css/bpg-glaho-arial.min.css') }}">

    <!--  Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!--  CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!--  Icons  -->
    <script src="https://kit.fontawesome.com/07848b287b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header>
        <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
    </header>

    <div class="running_cards" id="running_cards_div">
        {% for price_obj in prices %}
            <div class="running_card ">
                <div class="running_card_logo">
                    {{ card_logo_img(price_obj.provider) }}
                </div>
                <div class="running_card_info">
                    <div class="running_card_price">
                        {{ '%0.2f'|format(price_obj.price) }} &#8382;
                        <span
                                class="badge"
                                style="background-color: {% if price_obj.change_rate > 0 %}#ea3943{% elif price_obj.change_rate <= 0 %}#16c784{% endif %}"
                        >
                                {% if price_obj.change_rate > 0 %}
                                    <i class="fa-solid fa-arrow-up"></i> {{ '%0.2f'|format(price_obj.change_rate) }}
                                    &#8382;
                                {% elif price_obj.change_rate < 0 %}
                                    <i class="fa-solid fa-arrow-down"></i> {{ '%0.2f'|format(price_obj.change_rate) }}
                                    &#8382;
                                {% else %}
                                    0.00
                                {% endif %}
                            </span>
                    </div>
                    <div class="running_card_info_name">
                        {{ price_obj.name }}
                    </div>
                    <div class="running_card_info_date" id="date_obj">
                        {{ price_obj.last_updated.strftime('%H:%M %d-%b-%Y') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <main>
        <div class="content_title">
            <h1>
                {% block content_title %}
                {% endblock %}
            </h1>
        </div>

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div>
            <p>Powered by Open Source: <a href="https://github.com/NickNaskida/FuelPrices">Github</a></p>
        </div>

        <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>

        <ul>
            <li><a href="{{ url_for('main.index') }}">მთავარი</a></li>
            <li><a href="{{ url_for('main.about') }}">პროექტის შესახებ</a></li>
            <li><a href="/api">API</a></li>
        </ul>
    </footer>
</div>

<!--  JS  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>