# Environment variable overrides for local development

# Flask
FLASK_APP=manage.py
FLASK_DEBUG=1
FLASK_ENV=development

LOG_LEVEL=debug
SECRET_KEY=not-so-secret

# Slack
SLACK_WEBHOOK_KEY = T040FFWG6S0/B040RMZC8SV/DCfJX5xmaRgrE4d7MspybEDs

# SQLAlchemy
DATABASE_URL=sqlite:///dev.db

# Postgres
POSTGRES_DB=fuel_prices
POSTGRES_USER=fuel_prices
POSTGRES_PASSWORD=fuel_prices

# Cache
CACHE_TYPE=SimpleCache

# Gunicorn
GUNICORN_WORKERS=1

# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

# Nginx
APP_ENV=prod
APP_NAME=webserver
APP_DEBUG=false
SERVICE_NAME=webserver
