# Environment variable overrides for local development

# Flask
FLASK_APP=manage.py
FLASK_DEBUG=1
FLASK_ENV=development

LOG_LEVEL=DEBUG
SECRET_KEY=not-so-secret

# Slack
# Characters after https://hooks.slack.com/services/...
SLACK_WEBHOOK_KEY = .../.../...

# SQLAlchemy
DATABASE_URL=sqlite:///...

# Postgres
POSTGRES_DB=fuel_prices
POSTGRES_USER=fuel_prices
POSTGRES_PASSWORD=fuel_prices

# Cache
CACHE_TYPE=SimpleCache

# Gunicorn
PORT=5000
GUNICORN_WORKERS=1

# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

# Nginx
APP_ENV=prod
APP_NAME=webserver
APP_DEBUG=false
SERVICE_NAME=webserver
